<!DOCTYPE html>
<html>
<head>
  <title>Paginative</title>
  <%= stylesheet_link_tag    "paginative/application", media: "all" %>
  <%= javascript_include_tag "paginative/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
